
.MapBody {
	position : absolute;
	top : 13%;
	bottom : 0;
	left : 31%;
	right : 0;
	width : 69%;
	height : 87%;
	background : #FFFFFF;
}

.ResultBody {
	position : absolute;
	top : 13%;
	bottom : 0;
	left : 0;
	right : 0;
	width : 31%;
	height : 87%;
	background : #FFFFFF;
}

.InputBody {
	position : absolute;
	top : 0;
	bottom : 0;
	left : 0;
	right : 0;
	width : 100%;
	height : 13%;
	background : #F1F1F1;
}

.LogoDiv {
	position : absolute;
	top : 30%;
	bottom : 0;
	left : 3%;
	right : 0;
	width : 5%;
	height : 50%;
}

.InputDiv {
	position : absolute;
	top : 36%;
	bottom : 0;
	left : 16%;
	height : 50%;
}

.ResultList {
	top : 0;
	bottom : 0;
	left : 0;
	right : 0;
	padding : 0;
	list-style : none;
}

.ResultItem {
	background : #FFFFFF;
	left : 0;
	font-size : 80%;
	padding : 10px 10px 10px 10px;
}

.ResultItem:hover {
	background : #F3F9FF;
}

.ResultItemName {
	font-size : 120%;
	text-decoration : none;
	color : #2020D0;
}

.ResultItemHref {
	text-decoration : none;
	color : #2020D0;
}

.ResultItemMarker {
	float : left;
	width : 10%;
	height : 100%;
}

.ResultItemContent {
	margin-left : 10%;
}

.Statement {
	position : absolute;
	bottom : 0px;
	vertical-align : bottom;
}
